* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Deutsch";
  src: url("./cssElements/Deutsch.ttf");
}

.deutsch {
  font-family: "Deutsch";
}
.logout-link {
  cursor: pointer;
}

.main-image {
  width: 100%;
}
.home-img {
  width: 100%;
  z-index: -1;
}
